<aside id="left" class=" ml-3 mr-3 ">

  <div class="card-deck ">

    <div class="card ">


      <!-- <p class="text card-title text-center"> My Profile</p>
          <div class="text-center">
            <img src="../../../assets/ppb.png " class="rounded-circle card-img-top  " style="width: 5em">
  
          </div> -->

      <!-- <hr class=" row mr-4 ml-4" style=" color:  #b2b2b3; "> -->


      <div class="card-body ">

        <div class="row mt-1" routerLink ="/home" routerLinkActive="active"> 
          <i class="fas fa-home  col-3 col-sm-3 col-md-3  col-lg-3 col-xl-3  mt-1 ml-3 " style="color: #697799 ; "></i>
          <p class=" text card-text   "> Home</p>
        </div>

        <div class="row mt-1" routerLink ="/about" routerLinkActive="active">
          <i class="fas fa-pen  col-3 col-sm-3 col-md-3  col-lg-3 col-xl-3  mt-1 ml-3 " style="color: #697799; "></i>
          <p class=" text card-text" >About us</p>
        </div>

        <div class="row mt-1" routerLink ="/contacts" routerLinkActive="active" >
          <!-- <i class="fas fa-birthday-cake  col-3 col-sm-3 col-md-3  col-lg-3 col-xl-3  mt-1 ml-3 "
                style="color: #697799; "></i> -->
          <i class="fas fa-pen  col-3 col-sm-3 col-md-3  col-lg-3 col-xl-3  mt-1 ml-3 " style="color: #697799; "></i>

          <p class=" text card-text">Contact us </p>
        </div>
      </div>

    </div>



  </div>









  <div class="card-deck mt-3">

    <div class="card " style="background: #697799; color: #fff;">
      <div class="card-body ">

        <div class="row mt-1" routerLink ="/order" routerLinkActive="active">
          <i class="fas fa-pen  col-2  mt-1" style="color: #fff; "></i>
          <p class=" text card-text col-10"> Products</p>
        </div>

        <!--   
            <div class="row mt-1">
              <i class="fas fa-home col-2 mt-1" style="color: #ffff ; "></i>
              <p class="card-text col-10">London ,UK</p>
  
            </div>
  
            <div class="row mt-1">
              <i class="fas fa-birthday-cake col-2 mt-1" style="color: #fff; "></i>
              <p class="card-text col-10">Abril 1, 1988</p>
            </div> -->

      </div>

    </div>
  </div>

  <div class="card-deck mt-3">
    <div class="card shadow-sm mt-3 " style=" background: #fff; ">
      <div class="card-body ">
        <p class="card-title"> Interests</p>

        <div class="d-flex flex-wrap">
          <div class="p-1 mr-1 mt-1" style="background: #3a4c54; color: #fff;">News</div>
          <div class="p-1 mr-1 mt-1" style="background: #4b6270; color: #fff;">Games</div>
          <div class="p-1 mr-1 mt-1" style="background: #9aafba; color: #212121;">Friends</div>
          <div class="p-1 mr-1 mt-1" style="background: #dde4e7; color: #212121;;">Design</div>
          <div class="p-1 mr-1 mt-1" style="background: #f4f7f8; color:  #212121;;">Photos</div>

        </div>



      </div>
    </div>

  </div>



  <div id="msg2" class="alert  alert-dismissible fade show mt-3" style="background:   #dde4e7;">
    <p style="font-weight: 600;">Hey !</p>
    <button type="button" class="close" data-dismiss="alert" style="background: #bbc9d1;">&times;</button>
    People are looking at your profile. Find out who.
  </div>

</aside>